body {
	background: #0D3052;
	font-family: "Space Mono";
	color: white;
}

.logo {
	width: 25px;
	height: 25px;
	padding: 15px 0;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 25px 10px;
}

ul {
	padding: 0 15px;
	display: flex;
}

li {
	list-style-type: none;
	padding: 0px 15px;
	text-align: center;
}

section img {
}

div {
	display: flex;
	flex-wrap: wrap;
}

.tarifs {
        display: grid; 
	grid-template-columns: repeat(2, 1fr); 
	gap: 10px; 
}

.tarif1,
.tarif2 {
	padding: 20px; 
	background-color: #FFD700; 
	border: 1px solid #ddd; 
}

.avis {
	text-align: center;
}

.commentaires {
	display: flex;
	align-items: center;
}
