body {
	background: #0D3052;
	font-family: "Space Mono";
	color: white;
}

.logo {
	max-width: 100px;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 25px 10px;
}

ul {
	padding: 0 20px;
}

li {
	list-style-type: none;
	padding: 5px 15px;
}

section img {
}

div {
	display: flex;
	flex-wrap: wrap;
}
